
    <style type="text/css">

        .fc-event-container {
            text-align: center;
        }
    </style>




    <div class="container">
        <div id="calendar" class="row">
            <div class="container">
                <div class="widget widget-nopad">
                    <div class="widget-header" ng-show="$state.current.name != 'home'">
                        </i>
                        <center>
                            <font size="6px">
                                <b>Trainning Calendar</b>
                            </font>
                        </center>
                    </div>
                    <!-- widget-header -->
                    <div class="widget-content">
                        <div class="widget big-stats-container">
                            <div class="widget-content">
                                <br/>
                                <div ui-calendar="uiConfig.calendar" class="container-fluid calendar" ng-model="eventSources" calendar="myCalendar"></div>
                                <div ng-show="data.error" class="alert">
                                    <strong>Error!</strong> {{data.errorMsg}}
                                </div>
                            </div>
                            <!-- /widget-content -->
                        </div>
                    </div>
                </div>
                <!-- /widget -->
            </div>
        </div>
    </div>