<!--Change password pop-up modal-->
<div ng-controller="loginController">
    <div ng-controller="changePasswordController">
        <div class="modal fade" id="firstPassword" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <form name="firstPasswordForm" role="form" class="form-horizontal" novalidate>
                        <div class="modal-header">
                            <h4 class="modal-title">Change User Password</h4>
                        </div>
                        <div class="modal-body">
                            <!--Enter new password-->
                            <div class="form-group" ng-class="{ 'has-error' : (firstPasswordForm.newPassword.$invalid && !firstPasswordForm.newPassword.$pristine) || (passStrengthError) }">
                                <label class="col-xs-3 control-label">New Password</label>
                                <div class="col-xs-8">
                                    <input type="password" class="form-control" name="newPassword" ng-model="firstPassword.newPassword" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d!@#\$%\^\&*\)\(+=._-]{8,}$/"
                                        placeholder="Type your new password" required>
                                            <p ng-show="firstPasswordForm.newPassword.$invalid && !firstPasswordForm.newPassword.$pristine" class="help-block">
                                                Password must have at least 8 characters, one uppercase letter, one lowercase letter, one number and symbol
                                            </p>

                                        <!-- <p ng-show="(firstPasswordForm.newPassword.$invalid && !firstPasswordForm.newPassword.$pristine) || passStrengthError" class="help-block">{{passMeasuremessage}}</p> -->
                                </div>
                            </div>
                            <!--Confirm your password-->
                            <div class="form-group" ng-class="{ 'has-error' : (firstPasswordForm.newPasswordAgain.$invalid && !firstPasswordForm.newPasswordAgain.$pristine)  || ((firstPassword.newPasswordAgain != firstPassword.newPassword) && !firstPasswordForm.newPasswordAgain.$pristine) }">
                                <label class="col-xs-3 control-label">Confirm Password</label>
                                <div class="col-xs-8">
                                    <input type="password" class="form-control" name="newPasswordAgain" ng-model="firstPassword.newPasswordAgain" placeholder="Re-type your new password"
                                        required>
                                        <p ng-show="(firstPasswordForm.newPasswordAgain.$invalid && !firstPasswordForm.newPasswordAgain.$pristine)  || ((firstPassword.newPasswordAgain != firstPassword.newPassword) && !firstPasswordForm.newPasswordAgain.$pristine)"
                                            class="help-block"> These passwords don' t match!</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" ng-click="firstConfirmChange()" data-dismiss="modal" ng-disabled="firstPasswordForm.$invalid || ((firstPassword.newPasswordAgain != firstPassword.newPassword) && !firstPasswordForm.newPasswordAgain.$pristine)">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>